:host {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
  gap: 5em;
}

.clock {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 8em;
  font-size: 1.7em;
  font-weight: bold;
  color: var(--darkgrey);
  opacity: 0;
  background-color: var(--lightestgrey);
  transition: opacity 0.5s ease-out;

  &.started {
    opacity: 1;
  }

  &.gold {
    background-color: var(--gold);
    color: #fff;
  }

  &.silver {
    background-color: var(--silver);
  }

  &.bronze {
    background-color: var(--bronze);
    color: #fff;
  }

  &.past-top {
    background-color: var(--green);
    color: #fff;
  }

  &.past-max {
    background-color: var(--red);
    color: #fff;
  }

  &.ranking-1,
  &.ranking-2,
  &.ranking-3 {
    animation: blobBlob 1.2s cubic-bezier(0.15, 0.65, 0.5, 0.88) 2 !important;
  }
}

.clock-part {
  $borderRadius: 6px;
  border: 1px solid var(--darkgrey);
  display: flex;
  justify-content: center;
  align-items: center;

  &:first-of-type {
    border-radius: $borderRadius 0 0 $borderRadius;
  }

  &:last-of-type {
    border-radius: 0 $borderRadius $borderRadius 0;
  }

  &.milliseconds {
    font-size: 0.8em;
    align-items: flex-start;
    padding-top: 2px;
  }
}

.rank-prize {
  animation: grow 1.2s cubic-bezier(0.08, 0.45, 0.45, 1) 1 forwards;
}

@keyframes blobBlob {
  0% {
    transform: scale(1) rotate(0deg);
  }

  25% {
    transform: scale(1.6) rotate(0deg);
  }

  50% {
    transform: scale(0.8) rotate(0deg);
  }

  60% {
    transform: scale(1.2) rotate(0deg);
  }

  70% {
    transform: scale(1.2) rotate(-20deg);
  }

  75% {
    transform: scale(1.2) rotate(20deg);
  }

  85% {
    transform: scale(1.2) rotate(0deg);
  }

  100% {
    transform: scale(1) rotate(0deg);
  }
}

@keyframes grow {
  0% {
    transform: scale(0);
    opacity: 0;
  }

  // 40% {
  //   opacity: 0.3;
  // }

  50% {
    transform: scale(1);
    opacity: 1;
  }

  60% {
    transform: scale(1.2);
  }

  70% {
    transform: scale(1);
  }

  80% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
  }
}
