<div data-testid="keyboard" class="keyboard">
  @for (row of keys; track $index) {
  <!--ROW-->
  <div data-testid="keyboard-row" class="row">
    @for (key of row; track $index) {
    <!--FOR-->
    @if (key.length === 1) {
    <!-- IF -->
    <div
      data-testid="key"
      [attr.data-key]="key"
      class="key key-{{ key }}"
      [ngClass]="{
        guessed: keyGuesses[key] === 1,
        'correct-letter': keyGuesses[key] === 2 ,
        correct: keyGuesses[key] === 3,
      }"
      (click)="stroke(key)"
    >
      {{ key }}
    </div>
    <!-- IF -->
    } @else {
    <!--ELSE-->
    @if (key === keyBoardKey.enter) {
    <!-- IF -->
    <div
      data-testid="key-enter"
      class="key key-function enter"
      (click)="stroke(key)"
    >
      {{ key }}
    </div>
    }
    <!-- /IF -->
    @if (key === keyBoardKey.backspace) {
    <!-- IF -->
    <div
      data-testid="key-backspace"
      class="key key-function backspace"
      (click)="stroke(key)"
    >
      {{ key }}
    </div>
    <!-- /IF -->
    }
    <!-- /IF -->
    }
    <!--/FOR-->
    }
  </div>
  <!--/ROW-->
  }
</div>
