$keygap: 0.4rem;
$keyHeight: 3.25rem;
$keyWidth: 2.861rem;
$keyColor: #111;

.keyboard {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  gap: $keygap;
}

.row {
  display: flex;
  gap: $keygap;
  user-select: none;
}

.key {
  color: $keyColor;
  font-size: 1.4em;
  font-weight: bold;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  width: $keyWidth;
  height: $keyHeight;
  background-color: var(--lightgrey);
  border-radius: 3px;
  cursor: pointer;

  &:active {
    position: relative;
    top: 1px;
    left: 1px;
  }

  &.guessed,
  &.correct-letter,
  &.correct {
    color: #FFF;
  }

  &.guessed {
    background-color: var(--darkgrey);
  }

  &.correct-letter {
    background-color: var(--yellow);
  }

  &.correct {
    background-color: var(--green);
  }
}

.key-function {
  width: calc(($keyWidth * 1.5) + ($keygap / 2));
  font-size: 0.9em;
}

.backspace {
  color: transparent;
  position: relative;

  &::after {
    content: '\279F';
    position: absolute;
    height: 60%;
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.2em;
    top: 50%;
    left: 50%;
    transform: rotate(180deg) translate(-50%, -50%);
    transform-origin: left top;
    color: $keyColor;
  }
}
