<div class="home-page">
  <main class="main">
    <div class="sidebar sidebar-left">
      <cpx-clock
        class="clock"
        [run]="runClock"
        (afterTime)="setFinalTime($event)"
      ></cpx-clock>
      <cpx-time-graph></cpx-time-graph>
    </div>
    <div class="board">
      <cpx-board
        (started)="runClock = true; restart = false"
        (finished)="afterBoardGuessed($event)"
        [restart]="restart"
      ></cpx-board>
    </div>
    <cpx-scoreboard class="scoreboard"></cpx-scoreboard>
  </main>
  <div class="keyboard">
    <cpx-keyboard></cpx-keyboard>
  </div>
  <div class="restart">
    <!-- <button class="restart-button" (click)="restart = true">RESTART</button> -->
  </div>
</div>
