@if (row) {
<div
  class="board-row"
  data-testid="row"
  [ngClass]="{
    current: isCurrent(),
    'word-correct': showHoorah,
    invalid: !wordValid
  }"
>
  @for (letter of row.letters; track letter.id) {
  <div
    class="letter"
    [ngClass]="{
      filled: letter.letter.length > 0,
      guessed: wordChecked,
      'correct-letter': letter.correctLetter,
      'correct-space': letter.correctSpace,
    }"
    role="img"
    data-testid="letter"
    (animationend)="letterAnimation($event)"
  >
    {{ letter.letter }}
  </div>
  }
</div>

}
