$boardDim: 23rem;

.board {
  height: $boardDim;
  width: $boardDim * 0.8;
  display: grid;
  grid-template-rows: repeat(6, 1fr);
  gap: var(--board-gap);
  font-size: 2em;
  text-transform: uppercase;

  &.invalid {
    box-shadow: 0 0 12px rgba(255, 0, 0, 0.07), 0 0 24px rgba(255, 0, 0, 0.17);
  }
}

.failed {
  height: 3.618em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.word-to-guess {
  font-size: 1.618em;
  font-weight: bold;
  margin-left: 0.5rem;
}
