:root {
  --red: #BE1818;
  --green: #75AD3D; // #6BBE18;
  --yellow: #EDBE3E;
  --lightestgrey: #EBEEF2;
  --lightgrey: #D3D6DA;
  --darkgrey: #787C7E;
  --gold: rgba(212, 175, 55, 0.7);
  --silver: rgba(156, 169, 180, 0.7);
  --bronze: rgba(110, 77, 37, 0.7);

  --board-gap: 0.25em;
}
