@mixin highlighter($name) {
  animation: $name 2.6s ease-in-out 1 !important;
}

.scoreboard {
  border: 1px solid var(--lightgrey);
  border-radius: 5px;
}

.scoreboard-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.3em;
}

.scoreboard-title {
  margin: 0;
  text-align: center;
  flex: 1;
}

.average {
  position: relative;
  text-align: center;
  font-size: 0.9em;
  flex: 1;
}

.average-time {
  position: relative;
  display: flex;
  justify-content: center;
}

.average-time-time {
  position: relative;
}

.average-trends {
  position: absolute;
  right: -0.618em;
  top: -2px;
}

.average-trend {
  position: absolute;
}

.average-up {
  color: var(--red);
}

.average-down {
  color: var(--green);
}

.scoreboard-row {
  display: grid;
  grid-template-columns: 2em repeat(auto-fill, minmax(6.5em, 1fr));
  gap: 0.618em;
  border-top: 1px solid var(--lightgrey);

  &.row-body {
    @include highlighter(highlightRow);

    &.row-1 {
      @include highlighter(gold);
    }

    &.row-2 {
      @include highlighter(silver);
    }

    &.row-3 {
      @include highlighter(bronze);
    }
  }
}

.scoreboard-cell {
  padding: 0.34em 1em;
}

$colors: (
  "gold": var(--gold),
  "silver": var(--silver),
  "bronze": var(--bronze),
  "highlightRow": var(--yellow)
);

@each $name, $color in $colors {
  @keyframes #{$name} {
    0% {
      background-color: #fff;
    }

    50% {
      background-color: $color;
    }

    66% {
      background-color: $color;
    }

    100% {
      background-color: #fff;
    }
  }
}
