@if (games$ | async; as games) {
<div class="scoreboard">
  <header class="scoreboard-header">
    <h3 class="scoreboard-title">HIGH SCORES</h3>
    <div class="average">
      <div class="average-title">Average time</div>
      @if (averageTime !== null) {
      <div class="average-time">
        <div class="average-time-time">
          {{ averageTime | timeString }}
          @if (trendingDown !== null) {
          <div
            class="average-trends"
            [attr.data-avgdir]="trendingDown ? '-' : '+'"
            [attr.data-avgdiff]="averageDiff! | timeString : true"
          >
            @if(!trendingDown){
            <div class="average-trend average-down">
              <cpx-arrow-wavy [styles]="arrowStyleDown"></cpx-arrow-wavy>
            </div>
            } @else {
            <div class="average-trend average-up">
              <cpx-arrow-wavy [styles]="arrowStyleUp"></cpx-arrow-wavy>
            </div>
            }
          </div>
          }
        </div>
      </div>
      }
    </div>
  </header>
  <div class="scoreboard-body">
    @for (game of games; track game.id) {
    <div class="scoreboard-row row-body row-{{ $index + 1 }}">
      <div class="scoreboard-cell cell-count">{{ $index + 1 }}</div>
      <div class="scoreboard-cell cell-body">{{ game.user.name }}</div>
      <div class="scoreboard-cell cell-body" [title]="game.word | uppercase">
        {{ game.timeSpent | timeString }} ({{ game.guesses }})
      </div>
    </div>
    }
  </div>
</div>
}
